[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pyqt5 = "==5.15.0"
packaging = "==20.4"
six = "==1.15.0"
wcwidth = "==0.2.2"

[requires]
python_version = "3.8"
